<html>
  <head>
    <title>{{ title }}</title>
      <link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
      <link rel="stylesheet" href="static/bootstrap-theme.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
    <div class='container'>
      <a href='{{ url_for("index") }}'>Home</a>
      {%if current_user.is_anonymous %}
      <a href='{{ url_for("login") }}'>Login</a>
      <a href='{{ url_for("register") }}'>Register</a>
      {% else %}
        {% if current_user.project_id == None %}
        <a href='{{ url_for("new_project") }}'>Enter Project details</a>
        {% else %}
        <a href='{{ url_for("edit_project") }}'>Edit Project details</a>
        {% endif %}
      <a href='{{ url_for("register") }}'>Update {{ current_user }}</a>
      <a href='{{ url_for("logout") }}'>Logout {{ current_user }}</a>
      {%endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li> {{ message }} </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class='container'>
    <h1>Pair Up!<h1>
        <h3>CITS3403 group allocation tool, and flask sample project.</h3>

        {% block content%}
        {% endblock %}
  </div>
  <!-- Footer -->
  <footer class="page-footer font-small blue pt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Written by Tim, 2019, for 
      <a href="http://teaching.csse.uwa.edu.au/units/CITS3403/index.php?fname=projects&project=yes"> CITS3403 Agile Web Development Project</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  </body>
</html>


