{% extends "base.html" %}

{% block content %}
<h2>Login</h2>

  <form name='login' action='' method='post'>
    <div class='form-group'>
      {{form.hidden_tag()}}
      <p>
      {{ form.student_number.label }}<br>
      {{ form.student_number(size=8) }}
      {% for error in form.student_number.errors %}
      <span style="color:red;">[{{ error}}]</span>
      {% endfor %}
      </p>
      <p>
      {{ form.pin.label }}<br>
      {{ form.pin(size=4) }}
      {% for error in form.pin.errors %}
      <span style="color:red;">[{{ error}}]</span>
      {% endfor %}
      </p>
      <p> {{form.remember_me() }} {{form.remember_me.label }}</p>
      <p> {{ form.submit() }}</p>
    </div>
  </form>
  <p>To register <a href={{ url_for('register') }}>click here</a></p>
  {% endblock %}
