{% extends "base.html" %}

{% block content %}
<h2>Project Details</h2>

<div class="container">
  <h4>{{student name}} {% if partnerName %} and {%endif} partnerName</h4>
  {% if projectNumber %}
  <h4> Project ID: {{projectNumber}}</h4>
  
  <form name='registerProject' action='' method='post' novalidate>
    <div class='form-group'>
      {{form.hidden_tag()}}
      <p>
      {{ form.partnerNumber.label }}<br>
      {{ form.partnerNumber(size=8) }}
      {% for error in form.studentNumber.errors %}
      <span style="color:red;">[{{ error}}]</span>
      {% endfor %}
      </p>
      <p>
      {{ form.projectDescription.label }}<br>
      {{ form.projectDescription(size=20) }}
      {% for error in form.studentNumber.errors %}
      <span style="color:red;">[{{ error}}]</span>
      {% endfor %}
      </p>
      <p>
      {{ form.demonstrationTute.label }}<br>
      {{ form.demonstrationTute }}
      </p>
      <p> {{form.remember_me() }} {{form.remember_me.label }}</p>
      <p>
      {{ form.demonstrationTime.label }}<br>
      {{ form.demonstrationTime }}
      </p>
      <p> {{ form.submit() }}</p>
    </div>
  </form>

    <button action=''><span class='bootstrap bin-glyphicon'><\span>Delete project</button>
  {% endblock %}
